body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
    margin-bottom: 1rem;
}

.card-img-top {
    height: 400px;
}

.carousel {
    margin: auto;
    margin-bottom: 10rem;
    height: 250px;
    width: 600px;
}